@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Kanit&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
}
#page-logo{
    width: 80px;
}